{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}


{% block head %}
<style>
    .vega-actions a {
        margin-right: 12px;
        color: #757575;
        font-weight: normal;
        font-size: 13px;
    }
    .error {
        color: red;
    }
    </style>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@3.4.0"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@4"></script>
{% endblock %}


{% block content %}

      <div id="vis"></div>

      <script>
          (function(vegaEmbed) {
            var spec = {{ vega_json|tojson }};
            var embedOpt = {"mode": "vega-lite"};
      
            function showError(el, error){
                el.innerHTML = ('<div class="error" style="color:red;">'
                                + '<p>JavaScript Error: ' + error.message + '</p>'
                                + "<p>This usually means there's a typo in your chart specification. "
                                + "See the javascript console for the full traceback.</p>"
                                + '</div>');
                throw error;
            }
            const el = document.getElementById('vis');
            vegaEmbed("#vis", spec, embedOpt)
              .catch(error => showError(el, error));
          })(vegaEmbed);
      
        </script>

{% endblock %}

